.ant-modal-content {
  border-radius: 16px;
  background: #181f38;

  .title {
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 180%; /* 32.4px */
  }
}

.ant-modal-body {
  padding: 24px;
}

.modal-close-icon {
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 5;
}
