VITE_BINANCE_CONTROLLER=0x60982310e955F3e032885D7Fc6C7BaC6AE7EED23
VITE_BINANCE_SCAN=https://bscscan.com/tx/
VITE_BINANCE_ADDRESS=https://bscscan.com/address/
VITE_BINANCE_CHAINID=0x38
VITE_BINANCE_RPC=https://bsc-dataseed.binance.org/
VITE_BINANCE_NAME=Binance Smart Chain

VITE_ETHER_CONTROLLER=0xBA20f42fD104DEF309EB03B04323D4612BfAA6c8
VITE_ETHER_SCAN=https://sepolia.etherscan.io/tx/
VITE_ETHER_ADDRESS=https://sepolia.etherscan.io/address/
VITE_ETHER_CHAINID=0xaa36a7
VITE_ETHER_RPC=https://sepolia.infura.io/v3/0820cffd00564674ae96bb78e3578f02
VITE_ETHER_NAME=Sepolia

VITE_INFURA_API_KEY=841ace6068f744a9a2c53469b54ebddf

VITE_MAINTENANCE=true