// size screen responsive
// Small devices (landscape phones, 576px and up)
// Extra large devices (large desktops, 1200px and up)
// Large devices (desktops, 992px and up)
// Medium devices (tablets, 768px and up)

$breakpoint_small_mobile_max: 321px;
$breakpoint_mobile_md: 375px;
$breakpoint_mobile_max: 575px;
$breakpoint_tablet_max: 767px;
$breakpoint_small_tablet_max: 1023px;
$breakpoint_ultra_tablet_max: 1199px;
$breakpoint_desktop_max: 991px;
$breakpoint_large_desktop_max: 1279px;
$breakpoint_xl_desktop_max: 1441px;
$breakpoint_ultra_desktop_max: 1599px;
$breakpoint_mega_desktop_max: 1919px;
$breakpoint_mega_desktop_withMin: 1920px;

//color
$color_white: #fff;
$color_black: #000;
$color_gray: #808080;
$color_cod_gray: #ffffff;
$color_athen_gray: #e6e8ec;
$color_shuttle_gray: #ccc; // #ffd6bf;
$color_green: #008000;
$color_red: #ff4d4f;
