.ant-message {
  z-index: 1001;

  .event-message {
    .ant-message-notice-content {
      display: inline-flex;
      padding: 12px 16px;
      align-items: center;
      gap: 16px;

      .ant-message-custom-content .custom-icon {
        margin-right: 8px;
        font-size: 16px;

        svg {
          vertical-align: sub;
        }
      }
    }

    &.success {
      .ant-message-notice-content {
        border-radius: 16px;
        border: 1px solid var(--accent-1, #84e4a4);
        background: #0a2c15;
      }

      color: var(--accent-1, #84e4a4);
      font-size: 16px;
      font-weight: 600;
      line-height: 24px; /* 150% */
    }

    &.error {
      .ant-message-notice-content {
        border-radius: 16px;
        border: 1px solid var(--accent-1, #e48484);
        background: #2c0a0a;
      }

      color: var(--accent-1, #e48484);
      font-size: 16px;
      font-weight: 600;
      line-height: 24px; /* 150% */
    }

    &.warning {
      .ant-message-notice-content {
        border-radius: 16px;
        border: 1px solid var(--accent-1, #e1e484);
        background: #2c2c0a;
      }

      color: var(--accent-1, #e1e484);
      font-size: 16px;
      font-weight: 600;
      line-height: 24px; /* 150% */
    }

    &.info {
      .ant-message-notice-content {
        border-radius: 16px;
        border: 1px solid var(--accent-1, #84aee4);
        background: #0a1b2c;
      }

      color: var(--accent-1, #84aee4);
      font-size: 16px;
      font-weight: 600;
      line-height: 24px; /* 150% */
    }
  }
}

// SUCCESS: 'success',
// ERROR: 'error',
// WARNING: 'warning',
// IMG_DONE: 'done',
