.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  background: linear-gradient(
    136deg,
    #ff1744,
    #ff9b11,
    #9b59b6,
    #ff7f7f,
    #ffccbc,
    #db4437,
    #f4b400,
    #0f9d58,
    #2196f3,
    #6441a5
  );

  background-size: 1200% 1200%;
  animation: LandingBackgroundAnimation 30s ease infinite;
  height: 100%;

  @keyframes LandingBackgroundAnimation {
    0% {
      background-position: 0% 7%;
    }
    50% {
      background-position: 100% 94%;
    }
    100% {
      background-position: 0% 7%;
    }
  }
}
